name: CI

on: ['push']

jobs:
    CI:
        runs-on: ubuntu-latest

        steps:

            - name: checkout code
              uses: actions/checkout@v6
            
            - name: aws credentials
              uses: aws-actions/configure-aws-credentials@v6.0.0
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ap-south-1

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2
        
            - name: Build, tag, and push docker image to Amazon ECR
              env:
                REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                REPOSITORY: datagrokr-ecs-intern
              run: |
                docker build -t $REGISTRY/$REPOSITORY:latest .
                docker push $REGISTRY/$REPOSITORY:latest